# pylibmc has to be explictly added to requirements for heroku's python
# buildpack
pylibmc==1.4.3

Django==1.8.2
psycopg2==2.6
django-environ==0.3.0
newrelic==2.52.0.40
gevent==1.0
greenlet==0.4.1
gunicorn==18.0
whitenoise==2.0.2

requests==1.1.0
beautifulsoup4==4.1.3
lxml==3.4.4

django-debug-toolbar==1.3.0
django-heroku-memcacheify==0.8
