{% extends "wrapper.html" %}

{% block title %}{{ response.title }} - WhiteHouse Petition Response Viewer{% endblock title %}

{% block social %}
    <meta name="title" content="{{ response.title }}">
    <meta property="og:title" content="{{ response.title }}">
    <meta property="og:url" content="http://petitions.nickc.at/{{ response.pk }}/{{ response.slug }}">
    <link rel="canonical" href="http://petitions.nickc.at/{{ response.pk }}/{{ response.slug }}"/>
{% endblock social %}

{% block content %}




<h1>{{ response.title }}</h1>
<h4>In Response {{ response.total_signatures }} Signatures To {% if petitions.count > 1 %}These{% else %}This{% endif %} {{ petitions.count }} Petition{{ petitions.count|pluralize }}:</h4>
<ul>
    {% for petition in petitions %}
        <li><a href="https://petitions.whitehouse.gov{{ petition.url }}">{{ petition.title|title }}</a> -- {{ petition.signatures }} Signatures</li>
    {% endfor %}
</ul>

{% autoescape off %}
    {{ response.response }}
{% endautoescape %}

<p><a href="https://petitions.whitehouse.gov{{ response.url }}" class="btn">View The Full Response</a></p>

<p>Added {{ response.created_at|date:"N j, Y" }}</p>

{% endblock content %}