{% extends "wrapper.html" %}

{% block title %}{{ response.title }} - WhiteHouse Petition Response Viewer{% endblock title %}

{% block social %}
    <meta name="title" content="{{ response.title }}">
    <meta property="og:title" content="{{ response.title }}">
    <meta property="og:url" content="https://petitions.nickc.at{% url 'response' response.pk response.slug %}">
    <link rel="canonical" href="https://petitions.nickc.at{% url 'response' response.pk response.slug %}"/>
{% endblock social %}

{% block content %}

<h1>{{ response.title }}</h1>
<h4>In response to {{ response.total_signatures }} signatures to th{{ response.petition_set.count|pluralize:"is,ese" }} {{ response.petition_set.count }} petition{{ response.petition_set.count|pluralize }}:</h4>
<ul>
    {% for petition in response.petition_set.all %}
        <li><a href="{{ petition.official_url }}">{{ petition.title|title }}</a> -- {{ petition.signatures }} Signatures</li>
    {% endfor %}
</ul>

{{ response.response|safe }}

<p><a href="{{ response.official_url }}" class="btn">View The Full Response</a></p>

<p>Added {{ response.created_at|date:"N j, Y" }}</p>

{% endblock content %}
